@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

/*main {  */
/*  background: linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(223, 223, 223) 100%);  */
/*}  */
/*body{*/
/*	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 100%);  */
/*}*/
html, body{
	height: 100%;
	background: linear-gradient(to bottom, rgb(231, 231, 231) 0%, rgb(212, 212, 212) 100%);  
}

	




