<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ログイン画面</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>

<body>
	<div th:insert="~{fragments/header :: headerTemplate}"></div>
	<main>
		<section class="text-gray-600 body-fon h-full flex ">
			<div class="container px-5 pb-24 mx-auto flex flex-wrap items-center">
				<div class="lg:w-3/5 md:w-full md:pr-0 lg:pr-0 pr-0 mx-auto items-center">
					<h1 class="title-font font-medium text-3xl text-gray-900 text-center font-bold text-4xl">This is a
						Todo List</h1>
					<h1 class="title-font font-medium text-3xl text-gray-900 text-center font-bold text-4xl">Your simple
						& smart task manager</h1>
					<!--タスクチェックの移動のアニメーション-->
					<div class="background-todo flex-col mt-16">
						<div class="todo-item text-center">Write a report <span class="checkmark text-indigo-500 font-bold text-2xl">√</span></div>
						<div class="todo-item text-center">Team meeting <span class="checkmark text-indigo-500 font-bold text-2xl">√</span></div>
						<div class="todo-item text-center">Code review <span class="checkmark text-indigo-500 font-bold text-2xl">√</span></div>
					</div>
				</div>
				<form th:action="@{createAccout}" th:object="${user}" method="post"
					class="lg:w-2/6 md:w-full bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 shadow-xl">
					<h2 class="text-gray-900 text-lg font-medium title-font mb-5 flex flex-row justify-between">
						<span>Sign Up</span>
						<span>
							<a href="/login" class="leading-8 hover:underline">Login &GT;</a>
						</span>
					</h2>
					<div class="relative mb-4">
						<label for="full-name" class="leading-7 text-sm text-gray-600">Email</label>
						<span th:text=${errorMessage_email} class="text-xs text-red-500 font-bold flex"></span>
						<input type="email" th:field="*{email}"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
							required />
					</div>
					<div class="relative mb-4">
						<label for="full-name" class="leading-7 text-sm text-gray-600">Name</label>
						<span th:text=${errorMessage_name} class="text-xs text-red-500 font-bold flex"></span>
						<input type="text" th:field="*{name}"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
							required />
					</div>
					<div class="relative mb-4">
						<label class="leading-7 text-sm text-gray-600">Password</label>
						<span th:text=${errorMessage_pw} class="text-xs text-red-500 font-bold flex"></span>
						<input type="password" th:field="*{password}"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
							required />
					</div>
					<div class="relative mb-4">
						<label class="leading-7 text-sm text-gray-600">Password again</label>
						<input type="password" th:field="*{confirmPassword}"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
							required />
					</div>
					<button type="submit"
						class="text-white bg-indigo-500 border-0 py-2 px-8 my-2 focus:outline-none hover:bg-indigo-600 rounded text-lg">
						Sign up</button>
				</form>
			</div>
		</section>
	</main>
	<div th:insert="~{fragments/footer :: footerTemplate}"></div>
	<script src="/js/loginScript.js"></script>
</body>

</html>