<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ToDoリストの作成</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body style="width: 100vw;">
	<div th:insert="~{fragments/header :: headerLoginTemplate}"></div>
	<section class="text-gray-600 body-font relative">
		<div class="container px-5 py-24 mx-auto">
			<div class="flex flex-col text-center w-full mb-12">
				<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">To Do リストの作成</h1>
			</div>
			<form th:action="@{/todo/submit}" th:object="${task}" method="post" enctype="multipart/form-data"
				class="lg:w-1/2 md:w-2/3 mx-auto">
				<div class="flex flex-wrap -m-2">
					<div class="p-2 w-full">
						<label for="deadline" class="leading-7 text-sm text-gray-600">締切日</label>
						<input type="date" th:field="*{deadline}" id="deadline" required
							class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					<div class="p-2 w-full">
						<label for="avatar" class="leading-7 text-sm text-gray-60">画像のアップロード</label></br>
						<input type="file" name="imageFile" id="avatar" accept="image/png, image/jpeg"
							class="w-fulla" />
					</div>
					<div class="p-2 w-full">
						<label for="name" class="leading-7 text-sm text-gray-600">タイトル</label>
						<input type="text" th:field="*{title}" id="name" required maxlength="30"
							class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					<div class="p-2 w-full">
						<label for="message" class="leading-7 text-sm text-gray-600">説明文</label>
						<textarea id="message" th:field="*{contents}" name="message" maxlength="140"
							class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
					</div>
					<div class="p-2 w-full flex">
						<a th:href ="@{/todo/show}"
							class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">戻る</a>
						<button type="submit"
							class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">作成</button>
					</div>
				</div>
			</form>
	</section>

</body>

</html>