<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>Taskデーブルの一覧</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>
	<h2>タスクテーブル</h2>

	<div class=" ml-[50px] whitespace-nowrap overflow-auto h-[500px] w-[50%] mt-[100px] top-0">
		<table class="table-auto">
			<thead class=" sticky top-0 z-10 ">
				<tr class="bg-gray-200">
					<th class="px-4 py-2 border ">id</th>
					<th class="px-4 py-2 border ">title</th>
					<th class="px-4 py-2 border ">contents</th>
					<th class="px-4 py-2 border ">image_at</th>
					<th class="px-4 py-2 border ">user_id</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task: ${tasks}">
					<td th:text="${task.id}" class=" px-4 py-2 border "></td>
					<td th:text="${task.title}" class=" px-4 py-2 border "></td>
					<td th:text="${task.contents}" class=" px-4 py-2 border "></td>
					<td th:text="${task.imageAt}" class=" px-4 py-2 border "></td>
					<td th:text="${task.userId}" class=" px-4 py-2 border "></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>